<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                {% for experience in site.data.resume.Experience %}
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">{{experience.Title}}</h3>
                            <div class="time">{{experience.Date}}</div>
                        </div><!--//upper-row-->
                        <div class="company">{{experience.Location}}</div>
                    </div><!--//meta-->
                    <div class="details">
                      {{experience.Description}}
                    </div><!--//details-->
                </div><!--//item-->
                {% endfor %}


            </section><!--//section-->
