<!-- Use icons from fontawesome when you are adding new item in the contact list  -->

  {% assign details = site.data.resume.Details[0] %}

     <div class="sidebar-wrapper">
            <div class="profile-container">
                <img class="profile-img" src="{{site.baseurl}}/assets/images/{% if site.pic %}{{ site.pic }}{% else %}profile.png{% endif %}" alt="profile picture" />
                <h1 class="name">{{ details.Name }}</h1>
                <h3 class="tagline">{{details.Subtitle}}</h3>
            </div><!--//profile-container-->

            <div class="contact-container container-block">
                <ul class="list-unstyled contact-list">

                    {% if  details.Email  %}
                    <li class="email"><i class="fa fa-envelope"></i><a href="mailto: {{ details.Email }}">{{ details.Email }}</a></li>
                    {% endif %}

                    {% if details.Phone  %}
                    <li class="phone"><i class="fa fa-phone"></i><a href="tel:{{details.Phone }}">{{details.Phone }}</a></li>
                    {% endif %}

                    {% if details.Website %}
                    <li class="website"><i class="fa fa-globe"></i><a href="http://{{details.Website}}" target="_blank">{{details.Website}}</a></li>
                    {% endif %}

                    {% if details.Linkedin %}
                    <li class="linkedin"><i class="fa fa-linkedin"></i><a href="https://in.linkedin.com/in/{{details.Linkedin}}" target="_blank">linkedin.com/in/{{details.Linkedin}}</a></li>
                    {% endif %}

                    {% if details.Github %}
                    <li class="github"><i class="fa fa-github"></i><a href="http://github.com/{{details.Github}}" target="_blank">github.com/{{details.Github}}</a></li>
                    {% endif %}

                    {% if details.Twitter %}
                    <li class="twitter"><i class="fa fa-twitter"></i><a href="https://twitter.com/{{details.Twitter}}" target="_blank">{{details.Twitter}}</a></li>
                    {% endif %}

                </ul>
            </div><!--//contact-container-->
           {% include education.html %}
           {% include language.html %}
           {% include interests.html %}


        </div><!--//sidebar-wrapper-->
